// Footer styles

.footer {
	position: fixed;
	z-index: 50000;
	@include indentation(left);
	@include indentation(right);
	@include indentation(bottom);
	mix-blend-mode: difference;
	
	&__event-button {
		overflow: hidden;
		position: absolute;
		@include align(c,b);
		font-size: .28rem;
		line-height: .42rem;
		font-weight: 300;
		height: .42rem;
		
		a {
			position: relative;
			display: block;
			text-align: center;
			transition: all .7s ease;
			
			&:nth-child(2) {
				margin-top: .5rem;
			}
		}
		
		&.is-active-explore {
			a:nth-child(1) {
				margin-top: -.92rem;
			}
			
			a:nth-child(2) {
				transform: rotateY(10deg);
				transform-style: preserve-3d;
			}
		}
	}
}