// Hello module

.hello {
	width: 100%;
	height: 100vh;
	
	&__bg {
		overflow: hidden;
		position: absolute;
		@include align(r,t);
		@include col-outside-container(width, 66.66);
		@include col-outside-container(height, 80);
		
		img,
		canvas {
			position: absolute;
			@include align(c,c);
			//width: 100%;
			//height: auto;
		}
		
		&.anim {
			height: 0;
			
			img {
				margin-top: -1.5rem;
			}
		}
	}
	
	&__content {
		@extend .container-full;
		
		&__greeting {
			position: absolute;
			@include align(l,c);
			left: 16.66%;
			height: .96rem*3;
			padding: 0;
			margin: 0;
			
			font-size: .66rem;
			line-height: .96rem;
			font-weight: 300;
		}
	}
}