// Projects styles

.projects {
	&__slider {
		width: 100%;
		height: 100%;
		
		&__item {
			position: absolute;
			@include align(c,c);
			overflow: hidden;
			width: 66.66%;
			height: 60%;
			
			&__bg {
				position: relative;
				width: 100%;
				height: 100%;
				
				canvas {
					position: absolute;
					@include align(c,c);
				}
			}
			
			&__title {
				position: absolute;
				@include align(c,c);
				text-align: center;
				font-size: .83rem;
				font-weight: 600;
			}
		}
	}
	
	&__controls {
		&__prev,
		&__next {
			position: absolute;
			@include col-outside-container(height, 60);
			@include col-outside-container(width, 16.66);
		}
		
		&__prev {
			@include align(l,c);
		}
		
		&__next {
			@include align(r,c);
		}
	}
}