// Media Queries

@mixin device($type) {
	@if $type == 'small-mobile' {
		@media only screen and (max-width: 359px) {
			@content;
		}
	} @else if $type == 'mobile' {
		@media only screen and (min-width: 360px) and (max-width: 767px) {
			@content;
		}
	} @else if $type == 'tablet' {
		@media only screen and (min-width: 768px) and (max-width: 991px) {
			@content;
		}
	} @else if $type == 'laptop' {
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			@content;
		}
	} @else if $type == 'desktop' {
		@media only screen and (min-width: 1200px) and (max-width: 1599px) {
			@content;
		}
	} @else if $type == 'large-desktop' {
		@media only screen and (min-width: 1600px) and (max-width: 1919px) {
			@content;
		}
	} @else if $type == 'full-hd' {
		@media only screen and (min-width: 1920px) {
			@content;
		}
	}
}