// Responsive mixin

@mixin responsive($value, $small-mobile, $mobile, $tablet, $laptop, $desktop, $large-desktop, $full-hd) {
	@include device('small-mobile') {
		#{$value}: $small-mobile;
	}
	@include device('mobile') {
		#{$value}: $mobile;
	}
	@include device('tablet') {
		#{$value}: $tablet;
	}
	@include device('laptop') {
		#{$value}: $laptop;
	}
	@include device('desktop') {
		#{$value}: $desktop;
	}
	@include device('large-desktop') {
		#{$value}: $large-desktop;
	}
	@include device('full-hd') {
		#{$value}: $full-hd;
	}
}