// Variables

// Global padding for grid

$pad--s-mob: 20px;
$pad--mob: 20px;
$pad--tab: 25px;
$pad--lap: 40px;
$pad--des: 55px;
$pad--l-des: 60px;
$pad--f-hd: 80px;

// easing

$easeOutQuint: cubic-bezier(.15, 1, 0.3, 1);